.test{
    background-color: #182958;
}
.test1{
    background-color: #F58025;
}

.VH100{
    height: 100vh;
}

body{
    background-color: white;
}

.VH20{
    height: 20vh;
}

.unset-padding{
    padding: unset!important;
}