
.test1{
    background-color: #F58025;
}

.VH100{
    height: 100vh;
}

body{
    background-color: white;
}

.VH20{
    height: 20vh;
}

.unset-padding{
    padding: unset!important;
}

.h-85{
    min-height: 85vh!important;
}

img {
    max-width: 100% !important;
    height: auto;
}

.FormSearchStyle{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}

.RoundByForce{
    border-radius: 2rem;
}

.navbarWidth{
    height: 8rem;
}


.bg-col{
    background-color: #00205A;
    height: 70vh;
}