
.test1{
    background-color: #F58025;
}

.VH100{
    height: 100vh;
}

body{
    background-color: white;
}

.VH20{
    height: 20vh;
}

.unset-padding{
    padding: unset!important;
}

.h-85{
    min-height: 85vh!important;
}

img {
    max-width: 100% !important;
    height: auto;
}

.FormSearchStyle{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}

.RoundByForce{
    border-radius: 2rem;
}

.navbarWidth{
    height: 8rem;
}


.bg-col{
    background-color: #00205A;
    height: 70vh;
}

.SE-BG-Title {
    background-color: #F58025;
}

.UnsetBorder{
    border-radius: unset!important;
}

.TopC-Border{
    border-radius: 5px 5px 0px 0px!important;
}

.BotC-Border{
    border-radius: 0px 0px 10px 10px!important;
}

.padding-unset{
    padding: unset!important;
}

.border-adj{
    width: 90%!important;
}

.border-l{
    border-radius: 5px 0px 0px 5px;
}

.border-r{
    border-radius: 0px 5px 5px 0px;
}

.C-border-fix {
    border-radius: 0px 6px 0px 0px !important;
}